p{
	background: #CCC;
	color: #222;
	font-family: Arial, Helvetica, serif;
}
body{
	background-image: url("../img/forest.jpg");
}
#bounded-box{
	display: grid;
	grid: 150px / auto auto auto;
	border: 2px solid black;
	margin: 20px;
	background: #888;
}

